<!doctype html>
<title>{% block title %}Welcome{% endblock %} | SurfLog</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>SurfLog</h1>
  <div class=navigation>
  {% if g.user %}
    <a href="{{ url_for('home') }}">home</a> |
    <a href="{{ url_for('user_sessions') }}">my sessions</a> |
    <a href="{{ url_for('surf_session', surf_session_id=0) }}">new session</a> |
    <a href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a>
  {% else %}
    <a href="{{ url_for('home') }}">home</a> |
    <a href="{{ url_for('register') }}">sign up</a> |
    <a href="{{ url_for('login') }}">sign in</a>
  {% endif %}
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <ul class=flashes>
      {% for category, message in messages %}
        <div class="{{ category }}">{{ message }}</div>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    SurfLog &mdash; A Flask/MongoDB Application
  </div>
</div>