{% from "_formhelpers.html" import render_field %}
{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}
  <h2>Sign Up</h2>
  {% if error %}<div class=error><strong>Error:</strong> {{ error }}</div>{% endif %}
  <form action="" method=post>
    <dl>
      {{ render_field(form.username) }}
      {{ render_field(form.email) }}
      {{ render_field(form.password) }}
      {{ render_field(form.confirm) }}
      {{ render_field(form.accept_tos) }}
    </dl>
  <div class=actions><input type=submit value="Sign Up"></div>
  </form>
{% endblock %}
