{% extends "layout.html" %}
{% block title %}Session Detail{% endblock %}
{% block body %}
  <h2>Surf Session</h2>

  <form action="" method=post>
  	<dl>
      <dt>Spot:
      <dd>
        <select name=spot>
          {% for spot in spots %}
            <option value={{ spot._id }}>{{ spot.name }}</option>
          {% endfor %}
        </select>
        <a href="{{ url_for('spot', spot_id=0) }}">Create a new spot</a>
          
    	<dt>When:
    	<dd><input type=text name=spot size=30 value="{{ surf_session.when }}">
      <dt>Description:
      <dd><textarea cols=50 rows=6 name=description>{{ surf_session.description }}</textarea>
  	<div class=actions><input type=submit value="Submit"></div>
  </form>
{% endblock %}