{% extends "layout.html" %}
{% block title %}Session Detail{% endblock %}
{% block javascript %}
  <script src="/static/js/datetimepicker_css.js"></script>
{% endblock %}
{% block body %}
  <h2>Surf Session</h2>

  <form action="" method=post>
  	<dl>
      <dt>Spot:
      <dd>
        <select name=spot>
          {% for spot in spots %}
            <option value={{ spot._id }}
              {% if spot._id == surf_session.spot %}
                selected
              {% endif %}
            >{{ spot.name }}  
            </option>
           
          {% endfor %}
        </select>
        <a href="{{ url_for('spot', spot_id=0) }}">Create a new spot</a>
          
      <dt>When:
      <dd>
        <input type=text name=when id=picker size=30 value="{{ surf_session.when|datetime_format_utc }}">
        <img src="{{ url_for('static', filename='images/cal.gif') }}" onclick="javascript:NewCssCal('picker','MMddyyyy','dropdown',true,'12')" style="cursor:pointer">
      <dt>Duration:
      <dd><input type=text name=duration size=30 value="{{ surf_session.duration }}">
      <dt>Notes:
      <dd><textarea cols=50 rows=6 name=notes>{{ surf_session.notes }}</textarea>
  	<div class=actions><input type=submit value="Submit"></div>
  </form>
{% endblock %}