{% extends "layout.html" %}
{% block title %}User Sessions{% endblock %}
{% block body %}
  <h2>{{ g.user.username }}'s Sessions</h2>
  Found {{ sessions.count() }} Sessions
  {% for surf_session in sessions %}
    <h4><a href="{{ url_for('surf_session', surf_session_id=surf_session._id) }}">{{ surf_session.when|datetime_format_utc }}</a></h4>
    <dl>
      <dt>Spot:
      <dd><a href="{{ url_for('spot', spot_id=surf_session.spot._id) }}">{{ surf_session.spot.name }}</a>
      <dt>Duration:
      <dd>{{ surf_session.duration }}
      <dt>Notes:
      <dd>{{ surf_session.notes }}
    </dl>
    
  {% endfor %}
{% endblock %}